# Quizzzz โจทย์ฝึกท้ายบทเรียน

### Quiz1

In [1]:
#Quiz1
#1.เขียนคำสั่งคำนวณหาเศษเหลือจากการหาร 2345 ด้วย 13
print(2345%13)

5

In [2]:
#2.เขียนคำสั่งหาคำตอบจากการหาร 1567 ด้วย 17 โดยไม่เอาเศษส่วน
print(1567//17)

92

In [4]:
#3.FirstName and Firstname เป็นตัวแปรเดียวกันหรือไม่
#=ไม่เป็นตัวกัน ต่างกันที่ตัวเล็กใหญ่เป็น case sensitive

In [5]:
#4.13Friday เป็นตัวแปรที่ถูกต้องหรือไม่?
#=ไม่ถูกเพราะตัวเลขนำหน้า

In [31]:
#จง Print ผลลัพธ์จากข้อ 1,2โดยใช้คำสั่ง format
My1=2345%13
My2=1567//17
print('My1_result is:',My1,My2)
print('My1_result is {} and My2_result is {}'.format(My1,My2))

My1_result is: 5 92
My1_result is 5 and My2_result is 92

### Quiz2

In [32]:
#Quiz2
#1.เขียนฟังชั่นไม่มีชื่อให้รับพารามิเตอร์ 1 ตัว และปริ้นค่านั้นหารด้วย 3 
ICHI = lambda x: x/3
print(ICHI(3))

1.0

In [8]:
#2.เขียนฟังกืชั่นธรรมดารับค่า 4 พารามิเตอร์และหาค่าเฉลี่ย
def cube4(q,w,e,r):
    result = (q+w+e+r)/4
    return result

print(cube4(3,1,2,3))

2.25

In [9]:
#3. เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 3 ตัว และหาค่าเฉลี่ย
ICHI1 = lambda x: ((x+x+x)/3)
print(ICHI1(8))

8.0

In [10]:
ICHI2 = lambda a, b, c : (a + b + c) / 3
print(ICHI2(2, 3, 1))

2.0

### Quiz3

In [15]:
#Quiz3
#1.สร้างลิสต์ระบุชื่อ นามสกุล อายุ ตัวเอง
n1 = ['Maneenoot','Jaichaliew','26Y']
n1

['Maneenoot', 'Jaichaliew', '26Y']

In [16]:
#2.ลบอายุออกจากลิสต์
del n1[2]

In [17]:
n1

['Maneenoot', 'Jaichaliew']

In [18]:
#3.ลดอายุตัวเอง10ปีและแทรกไว้หน้าสุดของลิส
Y = 26
y = Y-10
n1.insert(0,y)

In [19]:
n1

[16, 'Maneenoot', 'Jaichaliew']

In [20]:
#4.เพิ่มส่วนสูง น้ำหนักลงในลิส โดยไปต่อท้าย
T = 158
W = 50
n1.append(T)
n1.append(W)

In [21]:
n1

[16, 'Maneenoot', 'Jaichaliew', 158, 50]

In [22]:
#5.Print สมาชิกในลิสตัวที่3 ถึงตัวสุดท้าย
print(n1[-3:])

['Jaichaliew', 158, 50]

### Quiz4

In [23]:
# Quiz 4
#1.a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คือค่าใด

a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [24]:
#2. เขียนชื่อนามสกุลอายุอยู่ในลิสเดียวของคน 4 คนแล้วใส่ไว้ในลิสต์ Nested List และแสดงผล
name = [['a','ac','55'],['b','bc','78'],['c','cc','60'],['d','dc','35']]
print(name)

[['a', 'ac', '55'], ['b', 'bc', '78'], ['c', 'cc', '60'], ['d', 'dc', '35']]

In [25]:
#3.ลบคนสุดท้ายของลิสต์นั้นออกและแสดงผล
del name[-1]

In [26]:
name

[['a', 'ac', '55'], ['b', 'bc', '78'], ['c', 'cc', '60']]

In [27]:
#4.เพิ่มคนที่5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล
name.insert(0,['z','zc','26'])

In [28]:
name

[['z', 'zc', '26'], ['a', 'ac', '55'], ['b', 'bc', '78'], ['c', 'cc', '60']]

In [29]:
#5.แก้ไขน้ำหนักคนที่สอง +10 และแสดงผล
name.insert(1,['a', 'ac', '65'])

In [30]:
name

[['z', 'zc', '26'],
 ['a', 'ac', '65'],
 ['a', 'ac', '55'],
 ['b', 'bc', '78'],
 ['c', 'cc', '60']]

### Quiz5
1.กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Map เพื่อหาเลขยกกำลังสามทั้งหมดของ lst ในรูปแบบ Lambda Function และฟังก์ชั่นธรรมดา  
2.กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Filter เพื่อหาเลขใดในลิสต์เมื่อยกกำลังสองแล้วหารสองไม่ลงตัวในรูปแบบ Lambda Function และฟังก์ชั่นธรรมดา

In [43]:
#1.Map Lambha Function
lst = [1,2,3,4,5,6,7,8,9,10]
result = map(lambda x:x**3,lst)
print(list(result))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [44]:
#1.Map ฟังก์ชั่นธรรมดา
def func(a):
    return a**3
print(list(map(func,[1,2,3,4,5,6,7,8,9,10])))

lst = [1,2,3,4,5,6,7,8,9,10]
print(list(map(func,lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [45]:
#2.filter Lambda Function
lst = [1,2,3,4,5,6,7,8,9,10]
final_list = filter(lambda x: (x%2 !=0),lst)
print(list(final_list))

[1, 3, 5, 7, 9]

In [47]:
#2.filter ฟังก์ชั่นธรรมดา
def func(x):
    return (x%2 != 0)

print(list(filter(func,[1,2,3,4,5,6,7,8,9,10])))

lst = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(func,lst)))

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

### Quiz6
1.กำหนดให้ lst =[1,2,3,4,5] จงเขียน List Comprehension เพื่อนำทุกตัวใน lst ไปคุณกับ 2 และลบด้วย 1 ดพร้อมกับแสดงผล  
2.กำหนดให้ lst =[1,2,3,4,5] จงเขียน List Comprehension เพื่อหาตัวที่หาร 3 ไม่ลงตัว และนำผลลัพธ์นั้นยกกำลังสาม พร้อมแสดงผล

In [58]:
#1.กำหนดให้ lst =[1,2,3,4,5] จงเขียน List Comprehension เพื่อนำทุกตัวใน lst ไปคุณกับ 2 และลบด้วย 1 ดพร้อมกับแสดงผล
lst =[1,2,3,4,5]
lst2 =[((x**2)-1) for x in lst if x%x == 0 ]

print(lst2)

[0, 3, 8, 15, 24]

In [53]:
#2.กำหนดให้ lst =[1,2,3,4,5] จงเขียน List Comprehension เพื่อหาตัวที่หาร 3 ไม่ลงตัว และนำผลลัพธ์นั้นยกกำลังสาม พร้อมแสดงผล
lst =[1,2,3,4,5]
lst2 =[x**3 for x in lst if x%3 != 0 ]
print(lst2)

[1, 8, 64, 125]

### Quiz7
1.จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 เกรด A มาก
กว่า 70 เกรด B มากกว่า 60 เกรด C มากกว่า 50 เกรด D และต่ำกว่า 50 เกรด F

In [59]:
# p = คะแนน
p = 80
if (p >= 80):
    print('Grade A')
elif (70 < p < 80):
    print('Grade B')
elif(60 < p < 70):
    print('Grade C')
elif(50 < p < 60):
    print('Grade D')   
else :
    print('Grade F')

Grade A

### Quiz8
1.กำหนดให้ A = [1, 2, 3, 4, 5] และ B = [2, 3, 1, 3, 2] จงเขียน Map แบบ Multiple-list
operations โดยให้ B ยกกำลังด้วย A พร้อมกับแสดงผล

2.จงเขียนชื่อนักเรียน เลขที่ และคะแนนสอบไฟนอล พร้อมกับใช้คำสั่ง Zip() ในการจับคู่
พร้อมกับแสดงผลลัพธ์ที่ถูกต้อง

In [60]:
A = [1, 2, 3, 4, 5]
B = [2, 3, 1, 3, 2]

result = map(lambda x, y: x**y ,A,B)
print(list(result))

[1, 8, 3, 64, 25]

In [62]:
name = ['tom','alin']
no = ['no.1','no.2']
point = [80,95]

mapped = list(zip(name,no,point))
print(mapped)

[('tom', 'no.1', 80), ('alin', 'no.2', 95)]

### Quiz9
1.กำหนดให้ lst = [5, 2, 1, 3, 2] จงเขียนฟังก์ชั่น Reduce เพื่อหาผลลัพท์สุดท้ายของ
ดำเนินการแบบเลขยกกำลัง

2.กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียนฟังก์ชั่น Reduce เพื่อหาผลลัพท์สุดท้าย
ของดำเนินการแบบการคูณ

In [64]:
from functools import reduce
lst = [5, 2, 1, 3, 2]
sum = reduce((lambda x, y:x**y ),lst)
print(sum)

244140625

In [65]:
from functools import reduce
lst = [1,2,3,4,5,6,7,8,9,10]
sum = reduce((lambda x, y:x*y ),lst)
print(sum)

3628800